---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/common/Header.astro';
import { getCollection } from 'astro:content';
import '../../styles/global.css';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
  return tags.map((tag) => ({
    params: { tag },
    props: { posts: posts.filter((post) => post.data.tags.includes(tag)) },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout>
  <Header />
  <main class="container mx-auto px-4 py-12">
    <header class="max-w-4xl mx-auto text-center mb-12">
      <h1
        class="text-4xl sm:text-5xl md:text-6xl font-bold mb-4 text-[#395144]"
      >
        Posts tagged with #{tag}
      </h1>
      <a
        href="/blog-posts"
        class="text-2xl font-bold gradient-text text-[#395144] hover:text-[#AA8B56] transition-colors"
      >
        ← Back to all posts
      </a>
    </header>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto"
    >
      {
        posts.map((post) => (
          <article class="bg-white border border-[#AA8B56]/20 rounded-xl p-6 hover:shadow-md transition-all duration-300">
            <a href={`/blog-article/${post.id}`}>
              <h2 class="text-xl sm:text-2xl font-bold mb-2 text-[#4E6C50]">
                {post.data.title}
              </h2>
              {post.data.description && (
                <p class="text-base sm:text-lg max-w-3xl mx-auto mb-4">
                  {post.data.description}
                </p>
              )}
              <div class="flex flex-wrap gap-2">
                {post.data.tags.map((postTag) => (
                  <span
                    class:list={[
                      'text-xs px-2 py-1 rounded',
                      tag === postTag
                        ? 'bg-[#F0EBCE] text-[#4E6C50]'
                        : 'bg-[#AA8B56] text-[#F0EBCE]',
                    ]}
                  >
                    #{postTag}
                  </span>
                ))}
              </div>
            </a>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
